@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    padding: 3rem 0;
    font-family: 'Poppins', sans-serif;
}

.form-box {
    border-radius: 10px;
    margin: auto;
    max-width: 400px;
    padding: 1rem 3rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
    margin: 7px 0;
}

input {
    box-sizing: border-box;
    width: 53%;
    margin-bottom: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.color-input {
    display: flex;
    justify-content: space-between;

}

.choose-btn {
    width: 45%;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 15px;
}

#submit-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .form-box {
        border-radius: 10px;
        max-width: 68%;
        margin: auto;
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    label {
        font-size: 0.8rem;
    }
}