#table-container {
    min-height: 100vh;
}

.table {
    margin: auto 0;
    margin-top: 3rem;
    width: 60%;
    padding: 10px 10px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 8px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cell {
    height: 35px;
    width: 25%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cell-name {
    width: 15%;
}

.cell-head {
    padding: 0 10px 10px 10px;
}

.apply-btn {

    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #table-container {
        padding-top: 3rem;
    }

    .table {
        margin: auto;
        width: 92%;
        padding: 5px 5px;
        font-size: 0.65rem;
    }

    .apply-btn {
        font-size: 0.65rem;
    }

}